<div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> hakone.ke@gmail.com</li>
            <li><i class="fa fa-phone"></i> +254708634111</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://x.com/minthu" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="/" class="logo">
                        <h1>Hakone</h1>
                    </a>
                    <ul class="nav">
                      <li><a href="/" class="<%= (activePage === 'home') ? 'active' : '' %>">Home</a></li>
                      <li><a href="/products" class="<%= (activePage === 'products') ? 'active' : '' %>">Products</a></li>
                      <!-- <li><a href="/property-details" class="<%= (activePage === 'property-details') ? 'active' : '' %>">Property Details</a></li> --> 
                      <li><a href="/contact-us" class="<%= (activePage === 'contact-us') ? 'active' : '' %>">Contact Us</a></li>
                      <li><a href="/products"><i class="fa fa-shopping-cart"></i> Place Order</a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
